* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background-color: #f8f8f8;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 200px;
}

body.scollhide {
  overflow-y: hidden !important;
}

@media screen and (max-width: 1441px) {
  .container {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.parent[data-isOpen="true"] {
  width: 400px;
  height: 200px;
  border: 1px solid green;
}
