* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background-color: #f9f9f9;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 200px;
}
